*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root{
    --lilla: #9792e4;
    --lightblue: #b5ddff;
    --blue: #0084fd;
}

/* common */
.flex-container{
    display: flex;
}

.container{
    margin: 0 1.5rem;
}

.text-center{
    text-align: center;
}

/* header */
header{
    background-color: var(--blue);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav{
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

img{
    display: block;
    width: 100%;
}

a i{
    color: white;
}

/* main */
/* cards */
main{
    padding-top: 60px;
}

.card{
    background-color: var(--lightblue);
    padding: 1.5rem;
    border-radius: 20px;
    margin: 2rem 0;
}

.phone{
    padding-bottom: 0;
}

.cards h3{
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p{
    line-height: 2rem;
}

.apple-button{
    background-color: var(--blue);
    border-radius: 40px;
    padding: 1rem;
    margin: 1rem auto;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.text-center i{
    padding-bottom: 1rem;
    color: var(--blue);
}

/* planning */
.planning{
    background-color: var(--lilla);
    color: white;
}

.planning1{
    padding: 3rem 0;
}

.planning h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.planning p{
    margin-bottom: 2rem;
}

.app-dev{
    background-color: white;
    border-radius: 50px;
    padding-bottom: 2rem;
}

.app-dev *{
    color: black;
    text-align: center;
}

.app-dev img{
    padding: 2rem;
}

.app-dev h3{
    font-size: 1.5rem;
}

.app-dev p{
    font-style: italic;
    padding: 1rem;
    margin-bottom: 0;
}

.app-dev a{
    display: block;
}

.app-dev i{
    padding: 1rem;
    background-color: var(--lilla);
    border-radius: 50%;
}