*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root{
    --lilla: #9792e4;
    --lightblue: #b5ddff;
    --blue: #0084fd;
}

.hidden{
    display: none;
}

.hidden a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

a.button-hidden{
    padding: 0.5rem;
    border-radius: 40px;
    background-color: white;
    color: black;
}

/* common */
.flex-container{
    display: flex;
}

.container{
    margin: 0 1.5rem;
}

.text-center{
    text-align: center;
}

img{
    display: block;
    width: 100%;
}

/* header */
header{
    background-color: var(--blue);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav{
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

a i{
    color: white;
}

/* main */
/* cards */
main{
    padding-top: 60px;
}

.cards{
    padding-bottom: 3rem;
}

.card{
    background-color: var(--lightblue);
    padding: 1.5rem;
    border-radius: 20px;
    margin: 2rem 0;
}

.phone{
    padding-bottom: 0;
}

.cards h3{
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p{
    line-height: 2rem;
}

.apple-button{
    background-color: var(--blue);
    border-radius: 40px;
    padding: 1rem;
    margin: 1rem auto;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.text-center i{
    padding-bottom: 1rem;
    color: var(--blue);
}

/* planning */
.planning{
    background-color: var(--lilla);
    color: white;
    padding-bottom: 3rem;
}

.planning1{
    padding: 3rem 0;
}

.planning h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.app-dev{
    background-color: white;
    border-radius: 50px;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

.app-dev *{
    color: black;
    text-align: center;
}

.app-dev img{
    padding: 2rem;
}

.app-dev h3{
    font-size: 1.5rem;
}

.app-dev p{
    font-style: italic;
    padding: 1rem;
    margin-bottom: 0;
}

.app-dev a{
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: var(--lilla);
    margin: 0 auto;
    border-radius: 50%;
}

.app-dev i{
    line-height: 3rem;
}

/* testimonials */
.testimonials{
    padding-bottom: 2rem;
}

.testimonials > .container{ 
    text-align: center;
    padding-top: 3rem;
}

.testimonials h2{
    padding: 2rem;
    font-size: 2rem;
    color: var(--lilla);
}

.testimonials p{
    padding-bottom: 1rem;
}

.testimonial{
    background-color: var(--lilla);
    padding: 1rem;
    border-radius: 50px;
    margin: 2rem 0;
}

.testimonial *{
    color: white;
}

.testimonial img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
}

.name{
    font-weight: bold;
    padding-bottom: 1rem;
}

/* benefits */
.benefits{
    background-color: var(--lilla);
    padding: 3rem 0;
}

.benefits > .container > h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.benefit{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem 0;
}

.benefit h2, .benefit h3{
    color: var(--lilla);
    padding-bottom: 1rem;
}

.benefit h2{
    font-size: 2rem;
}

.button{
    text-align: center;
    width: 120px;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 40px;
    background-color: var(--lilla);
    color: white;
    margin-top: 1rem;
    display: inline-block;
}

/* about us */
.about{
    padding: 3rem 0;
}

.about h2{
    font-size: 2rem;
    color: var(--lilla);
    padding-bottom: 2rem;
}

.about p{
    padding-bottom: 2rem;
}

.about img{
    border-radius: 50%;
    object-fit: cover;
}

.pic{
    position: relative;
    height: 150px;
    width: 150px;
}

.pic i{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--lilla);
}

.lilla{
    color: var(--lilla);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.about a{
    background-color: var(--lilla);
    border-radius: 40px;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

/* try */
.try{
    background-color: var(--lilla);
    color: white;
    text-align: center;
    padding: 1rem 0;
    padding-bottom: 3rem;
}

.transparent{
    opacity: 0.5;
    padding: 2rem 0;
}

.try h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.try h2{
    font-size: 3rem;
    color: #fdc15f;
    padding-bottom: 1rem;
}

.try p{
    margin: 0 auto;
    max-width: 400px;
}

.started{
    text-align: center;
    width: 200px;
    text-decoration: none;
    padding: 1rem;
    border-radius: 40px;
    background-color: white;
    color: var(--lilla);
    margin: 2rem;
    display: inline-block;
}

.privacy{
    color: white;
}

/* footer */
footer{
    background-color: #333333;
    color: white;
    text-align: center;
}

footer .container{
    max-width: 410px;
    margin: 0 auto;
}

footer > .container > *{
    padding: 2rem 0;
}

footer a{
    color: var(--lilla);
}

/* tablet */
@media all and (min-width: 768px){
    main{
        padding-top: 100px;
    }
    
    .cards > .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    .card{
        margin: 0;
        width: calc(100% / 3 - 1rem)
    }

    .phone{
        width: calc(100% / 3 * 2 - 0.5rem);
    }

    .planning1{
        max-width: 650px;
        margin: 0 auto;
    }

    .testimonial, .content{
        display: flex;
    }

    .content{
        padding-left: 1rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .content p{
        text-align: left;
    }

    .benefits .tablet-flex{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .benefit{
        margin: 0;
        width: calc(100% / 2 - 1rem);
    }

    .benefit h2{
        font-size: 4rem;
    }

    .benefits > .container > h2{
        padding-bottom: 3rem;
    }

    .about .container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .about-us h2{
        font-size: 3rem;
    }

    .about-us{
        width: 60%;
    }

    .ceo{
        width: calc(40% - 2rem);
    }

    .try h2{
        font-size: 4rem;
    }
}

/* desktop */
@media all and (min-width: 992px){
    .bars{
        display: none;
    }

    .hidden{
        display: block;
    }

    .phone{
        display: flex;
        gap: 1rem;
    }

    .phone > div{
        width: calc(100% / 2 - 1rem);
    }

    .phone img{
        width: 100%;
    }

    .img{
        align-self: flex-end;
    }

    .planning .container{
        display: flex;
        gap: 1rem;
    }

    .planning > .container > div{
        width: calc(100% / 2 - 1rem);
        align-self: flex-end;
    }

    .strategic-planning{
        display: flex;
        flex-direction: column;
    }

    .strategic-planning > p{
        align-self: flex-end;
    }

    .benefit{
        width: calc(100% / 3 - 1rem);
    }

    .lilla{
        width: 150px;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .dev-img{
        width: 300px;
        margin: 0 auto;
    }
}

@media all and (min-width: 1200px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
}